# --------------------------------------------------
# Configuration parameters for multiCam
# Optional parameters can be commented out with ;
# In which case, defaults will be used as appropriate
# parameter values should not be quoted
# ---------------------------------------------------


# --------------------------------------------------------
# This section specifies the main configuration
# A minimal configuration requires
# [UI] and at least one of  [USBCAMERAS] [PICAMERA] or [STREAM]
# --------------------------------------------------------

[UI]
# Settings for UI components
# Accessed at either http://localhost or http://<DUETIP>
# PORT cannot conflict with other apps / plugins / or DWC
# PORT must be between 1024 and 65535
# Mandatory e.g. PORT = 8001

port = 8044

[LOGGING]
# Sets loglevel
# Valid entries [WARNING,INFO,DEBUG]
# Optional
#Default is INFO

;loglevel = DEBUG

[USBCAMERAS]
# for ech camera enter the name and source
# as name=source  DO NOT USE QUOTES
# each name must be unique, each source nust be unique
# sources must be of type /dev/VideoN
# e.g.  Cam1= /dev/video0     
 
;Cam1 = /dev/video0
;Cam 2 = dev/video2

[PICAMERAS]
# Each entry adds one Picamera.
# as name=index (usually 0 if only one pi camera)
;Picamera = 0

[STREAMS]
# for ech stream enter the name and source
# as name=source  DO NOT USE QUOTES
# each name must be unique, each source nust be unique
# sources must be one of: http:// ,  https:// , rstp://
# e.g.  Highway= http://192.168.30.41:8044/Cam1/stream     
 
;IPCam1 = http://192.168.30.41:8044/Picamera/stream
;NozzleCam = http://192.168.30.41:8044/Cam 2/video


# ----------------------------------------------------------------
# Optional per-camera settings.
# Section name MUST MATCH the camera name
# Any parameter you omit will fall back to a defaults.
# Note that the setting will only work if supported by the camera

# For [USBCAMERAS] and [PICAMERAS] - Allowed options are:
# Camera controls (no default - camera value is used if omitted)
# Check the logfile for the expected values
# brightness = <number>
# contrast = <number>
# balance = <number>
# saturation = <number>
# sharpness = <number>
# autoexposure = <whole number>
# autofocus = <whole number>


#   Settings (shown with default values)
# fps = 15
# width = 1024
# height = 768
# jpegresolution = 95
# rotate = 0
# streamname = stream
# snapshotname = snapshot


# For [STREAMS] the only settings allowed are:
# Settings (shown with default values)
# fps = 15
# jpegresolution = 95
# rotate = 0
# streamname = stream
# snapshotname = snapshot

# This is because [STREAMS] are effectively a pass-through

# Below are examples

[Cam2]
brightness = 2
fps = 30
streamname = video
snapshotname = still

[Picamera]
brightness = 0
rotate = 180
jpegresolution = 80



