# --------------------------------------------------
# Configuration parameters for multiCam
# ---------------------------------------------------

# Port settings for the UI
# Cameras can be viewed at http://<DUETIP>:<PORT>
# Camera settings can be configured at http://<DUETIP>:<PORT>/Settings
# PORT cannot conflict with other apps / plugins / or DWC
# PORT must be between 1024 and 65535
# This setting is mandatory e.g. PORT = 8001

port = 8001
