# --------------------------------------------------
# Configuration parameters for multiCam
# Optional parameters can be commented out with ;
# In which case, defaults will be used as appropriate
# parameter values should not be quoted
# ---------------------------------------------------


# --------------------------------------------------------
# This section specifies the main configuration
# A minimal configuration requires
# [UI] and [CAMERAS]
# --------------------------------------------------------

[UI]
# Settings for UI components
# Accessed at either http://localhost or http://<DUETIP>
# PORT cannot conflict with other apps / plugins / or DWC
# PORT must be between 1024 and 65535
# Mandatory e.g. PORT = 8001

PORT = 8044

[LOGGING]
# Sets the logging detail
# Valid entries [WARNING,INFO,DEBUG]
# Optional
#Default is INFO

;LEVEL = DEBUG

[CAMERAS]
# for ech camera enter the name and source
# as name=source
# e.g.  Cam1= /dev/video0     
 
Cam1=/dev/video8
Cam2=/dev/video2
IP Camera=http://192.168.30.31:8081

[PICAMERAS]
# Each entry adds one Picamera.
# as name=index (usually 0 if only one pi camera)
Picamera=0

# ----------------------------------------------------------------
# Optional per-camera settings.
# Section name MUST MATCH the camera name in [CAMERAS] or [PICAMERAS]
# Any parameter you omit falls back to a default.
# Note that the setting will only work if supported by the camera
# Allowed options are:
# fps,width,height,brightness,contrast,focus,balance
# Any options must be provided with numeric values
# Consult your camera specifications for the expected values

[Cam1]
brightness = 1
;balance = 1
fps = 60
contrast = 10
;saturation = 20
width = 1600
;height = 480
wrong = 1

[Cam2]
;brightness = 1.5
;fps = 60
;contrast = 0
;saturation = 20
width = 640
height = 480

[Picamera]
;brightness = 0
rotate = 180
jpegresolution = 50


